<h1>Your Links</h1>

<table>
  <tr>
    <th>Slug</th>
    <th>Target URL</th>
    <th>Created At</th>
  </tr>
  <% @links.each do |link| %>
    <tr>
      <td><%= link.slug %></td>
      <td><%= link.target_url %></td>
      <td><%= link.created_at %></td>
    </tr>
  <% end %>
<table>

<div>
  <h4> <%= link_to "Create a New Link", "/links/new" %> </h4>
</div>

<div>
  <h4> <%= link_to "Edit Existing Link", "/visits/links/#{@links.id}/edit" %> </h4>
</div>

<div>
  <h4> <%= link_to "View Link Stats", "/visits/links/#{@links.id}" %> </h4>
</div>
